:root {
  --background: #34495e;
}

.item {
    padding:10px;
    border:solid 1px var(--background);
    width:200px;
    color: #fff;
    background: var(--background);
    margin:2px;
}

.item:hover {
  color: #FFF;
  background: #95a5a6;
}
